body {
  padding: 50px;
  background-image: url("img/background-img.jpg");
  height: 600px;
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
  background-repeat: no-repeat;
}

#container {
  display: flex;
  justify-content: center;
}
